<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>
    <header class="home-header">
        <div class="home-image-logo">

            <img class="image-logo" src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre">
            <div class="from-search">
                <input class="form-input" type="text" placeholder="Buscar productos">

                </form>
            </div>

            <div class="home-header-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h6>Comprá en cuotas y sin tarjeta de crédito</h6>

            </div>
        </div>
        <nav>


            <div class="home-nav">

                <ul class="home-nav-a">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="home-nav-b">

                    <div class="home-nav-date">
                        <li><a href="/createAccount">Crear cuenta</a></li>
                        <i class="fa-solid fa-id-card"></i>

                    </div>

                    <div class="home-nav-date">

                        <li><a href="/login">Ingresá</a></li>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </div>

                    <div class="home-nav-date">

                        <li><a href="">Mis compras</a></li>
                        <i class="fa-sharp fa-solid fa-basket-shopping"></i>
                    </div>
                </ul>
            </div>

            <div class="header-bottom-menu">
                <a class="bottom"><i class="fas fa-bars fa-lg"></i></a>
            </div>
        </nav>

    </header>

    <main class="main-login">
<h4 class="titulos-user">ingresa a tu cuenta</h4>
        <div class="date-user">
            
            <label for="nombre_usuario"></label>
            <input class="input-form" type="text" id="nombre_usuario" name="nombre_usuario"
            placeholder="Nombre de usuari@:" required>

            <label for="contrasena"></label>
            <input class="input-form" type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
        </div>

        <div class="btn-submit-reset">
            <input class="btn-user"type="submit" value="ENVIAR">

            <input class="btn-user"type="reset" value="BORRAR">

        </div>


    </main>

</body>

</html>