.home-header {
    background-color: #EAC926;

}

.home-image-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-image-logo img {
    width: 47vw;
}

.home-header-cuotas {
    display: flex;
justify-content: center;
    margin: 15px 0;
    
}

.home-nav{
    display: none;
}

.header-bottom-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.header-bottom-menu a {
    background-color: #1259c3;
    color: #fff;
    border-radius: 4px;
    padding: 7px;
}


/*  MAIN */
.banner-img {
    width: 100vw;
    height: auto;
}

.home-main-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    max-width: 95%;
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.card-container {
    max-width: 95%;
    background-color: white;
    margin-bottom: 10px;
}

.card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.titulo-card {

    margin-bottom: 10px;

}

.card-body {
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    padding-left: 15px;
    position: relative;

}

.card-icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    color: #39b54a;
    position: absolute;
    top: -20px;
    right: 15px;
    
}
.card-icon-circle i:hover{
animation: rotate 1s;
}
@keyframes rotate{
    0%{
transform: rotate(0);
    }
    100%{
transform: rotate(-90deg);
    }
}


.card-descuento {
    color: #39b54a;
    line-height: 2;
}

.card-titulo-producto {
    line-height: 2;
   
}
.card-container:hover{
box-shadow: 0px 0px 10px rgb(100,100,100);
}
.card-container h3 {
    
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.card-container:hover h3 {
    
    height: 35px;
}
.footer-info{
    text-align: center;
}





/* /////// FOOTER///////// */


.footer-date {

    text-align: center;
    font-size: 13px;
    padding: 10px 15px;
}

.footer-info {
    color: #666;
    margin-bottom: 20px;

}

.footer-title {
    color: #666;
    text-align: center;


}

.footer-icon i {
    color: #1259c3;
    font-size: 23px;
}

/*/////TABLET ---desktop//////*/
@media(min-width:478px) {
  

    .home-image-logo img {
        width: 30vw;
        justify-content: centers;
        padding: 20px 0;
    }

    .home-image-logo {
        display: flex;
        flex-direction: row;
        
        

    }

    .form-input {

        width: 30vw;
        border-radius: 4px;
        margin: 0 15px;
    }


    .home-header-cuotas {
        display: flex;
        align-items: center;
        
    }

    .home-header-cuotas h5 {
        display: inline-block;
    }

    .header-bottom-menu {
        display: none;
    }

    .card {
        flex: 1 0 200px;
        background-color: #ebebeb;
        box-shadow: rgba(0, 0, 0, 0.075);
        margin-bottom: 10px;

    }
    .home-nav{
       display: flex;
       flex-direction: row;
        justify-content: space-between;
        padding: 30px 0;
    }
    .home-nav-a{
        display: flex;
        justify-content: center;
        
    }
    .home-nav-a li{
       margin: 0 5px; 
       font-size: 12px;
    }
    .home-nav-b{
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
    .home-nav-b i{
        margin-right: 5px;
        
    }
    .home-nav-date{
        display: flex;
       
        
    }
    .footer-date{
        display: flex;
        justify-content: space-between;
        
        width: 100%;
    }

}

@media(min-width:900px){
    .home-nav{
        display: flex;
        flex-direction: row;
         justify-content: space-between;
         padding: 30px 0;
     }
     .home-nav-a{
         display: flex;
         justify-content: center;
         
     }
     .home-nav-a li{
        margin: 0 20px; 
         
     }
     .home-nav-b{
         display: flex;
         justify-content: center;
     }
     .home-nav-b i{
         margin-right: 20px;
         
     }
     .home-nav-date{
         display: flex;
        
         
     }
}